@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Kaushan+Script&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	overflow-x: hidden;
}

:root{
/* colors: */
--primary-color:#b2d492;
--secundary-color:#363636;
--tertiary-color:rgb(228, 228, 228);

/*fonts: */
--primary-font: 'Kaushan Script';
--secundary-font:'Ibm Plex Mono';	
}	

main{
	height: 100vh;
	width: 100%;	
	display:flex;
	justify-content: center;
	align-items:center;
	background-color:var(--secundary-color);
}

.container{
width: 100%;
height: 100vh;
display:grid;
align-items:center;
text-align:center;
justify-content:center;
margin:0;


}
.wrapper{
	background-color: var(--primary-color);
	border-radius: 6px;
	width: 400px;
	height: 530px;
	overflow-y: hidden;
}



.logo{
	color:var(--secundary-color);
	font-size:120px;
	font-family:var(--primary-font);
	text-align: center;
	margin:10px;
}

.input__user, .input__password{
	display: grid;
	font-family:'Ibm Plex Mono';
	width:350px;
	height:2.5rem;
	margin:20px 20px;
	border-radius:6px;
	border:none;
}
input:focus {   
    outline: 4px solid var(--secundary-color);
}

::placeholder{	
	padding:30px;
	font-family:var(--secundary-font);
	font-size: 14px;
}

button{
	margin: 20px 20px;
	width:350px;
	border:none;
	cursor:pointer;
	animation: 0.8s ;
}

button:hover{
	color:var(--secundary-color);
	background-color: var(--tertiary-color);
}

.btn{
	font-family: var(--secundary-font);
	font-size:17px;
	font-weight: 800;
	height:2.5rem;
	color:var(--tertiary-color);
	background-color:var(--secundary-color);
	border-radius:6px;
	margin-bottom: 10px;
}
.forgot__password{ 
	font-style: italic;
	color:var(--secundary-color);
	opacity: 80%;
	font-size: 16px;
	text-decoration: none;	
	 }
.check_box{
align-items: center;
margin: 0 20px;
width: 100%;
display: flex;
}
.check_B {
	width: 16px;
	height: 16px;
}
.text_checkbox{
	margin-left:10px;
	font-family: var(--secundary-font);
	color:var(--secundary-color);
	font-weight: 300;
	font-size: 16px;
}

.join{
	margin:30px 10px;
	align-items: center;
	justify-content: center;
		
}
.text_join{
	font-size:18px;


}
.join_Clee {
	font-size: 14px;
	padding:10px;
	font-weight: 600;
	color:var(--secundary-color);
	font-family: var(--secundary-font);
	text-decoration: none;
	width: 100%;	
	display:flex;
	justify-content: center;
}

.logo_font{
	margin:0 2px;
	font-family: var(--primary-font);
}