@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Kaushan+Script&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	overflow-y: hidden;
	overflow-x: hidden;
}

:root{
/* colors: */
--primary-color:#b2d491;
--secundary-color:#212121;
--tertiary-color:rgb(228, 228, 228);

/*fonts: */
--primary-font: 'Kaushan Script';
--secundary-font:'Ibm Plex Mono';	
}	

main{
	height: 100vh;
	width: 100%;	
	display:flex;
	justify-content: center;
	align-items:center;
	background-color:var(--tertiary-color) ;
}

.container{
background-color:var(--primary-color);
min-width: 400px;
width: 30%;
max-height: 420px;
height: 100%;
display:grid;
align-items:center;
text-align:center;
justify-content:center;
margin:0;
border-radius: 5px;
border:3px solid var(--secundary-color);
}

.logo{
	color:var(--secundary-color);
	font-size:120px;
	font-family:var(--primary-font);
	text-align: center;
	margin:0;
}

input{
	font-family:'Ibm Plex Mono';
	width:350px;
	height:2.5rem;
	margin:10px 0px;
	border-radius:6px;
	border:none;

}
input:focus {
    outline: 4px solid var(--secundary-color);
}

::placeholder{	
	padding:30px;
	font-family:var(--secundary-font);
	font-size: 14px;
}

button{
	margin-top: 10px;
	width:100%;
	border:none;
	cursor:pointer;
	animation: 0.8s ;
}

button:hover{
	color:var(--secundary-color);
	background-color: var(--tertiary-color);
}

.btn{
	font-family: var(--secundary-font);
	font-size:17px;
	height:2.5rem;
	color:var(--tertiary-color);
	background-color:var(--secundary-color);
	border-radius:6px;
	margin-bottom: 10px;
}

.container a{
	text-decoration: none;
	color:var(--secundary-color);
}s

i{
	color: #aaa6a6;
}
#user{
position: absolute;
margin:35px;
margin-top:12.4rem;
}

#passw{
position: absolute;
margin:35px;
margin-top:16.2rem;

}

a{
	font-size: 14px;
	font-family: var(--secundary-font);
	margin-bottom: 20px;
}
